Challenge2/flow.json
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d106445f.d987d8","type":"mqtt out","z":"b5d1af96.0416f8","name":"mqtt","topic":"","qos":"0","retain":"","broker":"","x":1070,"y":440,"wires":[]},{"id":"483d5bee.10032c","type":"delay","z":"b5d1af96.0416f8","name":"Thingspeak rate delimiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"50","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":440,"wires":[["d106445f.d987d8"]]},{"id":"ef8cec3.abe899","type":"switch","z":"b5d1af96.0416f8","name":"Filter Publish Topics ","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Publish Message \\(id=[0-9]+\\) \\[factory\\/department(1|3)\\/section(1|3)\\/plc\\].*$","vt":"str","case":false},{"t":"regex","v":"Publish Message \\(id=[0-9]+\\) \\[factory\\/department(1|3)\\/section(1|3)\\/hydraulic_valve\\].*$","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":2,"x":600,"y":220,"wires":[["b2a3dcdd.3ff098","4b3e6a7d.883b8c"],["b2af623d.a77e4","b2a3dcdd.3ff098"]]},{"id":"b2a3dcdd.3ff098","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":100,"wires":[]},{"id":"46c99e08.cbc39","type":"function","z":"b5d1af96.0416f8","name":"Map Route&Value","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["7ee632fa.465724"]]},{"id":"c585d14c.02cbd","type":"inject","z":"b5d1af96.0416f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["5020fb36.b5f964"]]},{"id":"5020fb36.b5f964","type":"file in","z":"b5d1af96.0416f8","name":"Load lines from file","filename":"/home/user/traffic.csv","format":"lines","chunk":false,"sendError":false,"x":350,"y":220,"wires":[["ef8cec3.abe899"]]},{"id":"5f01f6c9.1bb49","type":"function","z":"b5d1af96.0416f8","name":"Parse HEX content","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":220,"wires":[["46c99e08.cbc39"]]},{"id":"7ee632fa.465724","type":"function","z":"b5d1af96.0416f8","name":"Build mqtt params","func":"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["483d5bee.10032c"]]},{"id":"4b3e6a7d.883b8c","type":"function","z":"b5d1af96.0416f8","name":"Map to Route&Hex PLC","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":180,"wires":[["5f01f6c9.1bb49"]]},{"id":"b2af623d.a77e4","type":"function","z":"b5d1af96.0416f8","name":"Map to Route&Hex Valve","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":260,"wires":[["5f01f6c9.1bb49"]]}]