Challenge2/flow.json
[{"id":"6813f31f.f29bfc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a1098b1d.5aff3","type":"mqtt out","z":"6813f31f.f29bfc","name":"mqtt","topic":"","qos":"0","retain":"","broker":"ae24aa7d.845048","x":1070,"y":420,"wires":[]},{"id":"b177f8d9.19226","type":"delay","z":"6813f31f.f29bfc","name":"Thingspeak rate delimiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":420,"wires":[["a1098b1d.5aff3"]]},{"id":"b7807847.e136b","type":"switch","z":"6813f31f.f29bfc","name":"Filter Publish Topics ","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Publish Message \\(id=[0-9]+\\) \\[factory\\/department(1|3)\\/section(1|3)\\/plc\\].*$","vt":"str","case":false},{"t":"regex","v":"Publish Message \\(id=[0-9]+\\) \\[factory\\/department(1|3)\\/section(1|3)\\/hydraulic_valve\\].*$","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":260,"wires":[["d54a370b.434ca8"],["93a9b98d.70f108"]]},{"id":"9e973b1b.7788e","type":"debug","z":"6813f31f.f29bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":140,"wires":[]},{"id":"8ccc6614.c14","type":"function","z":"6813f31f.f29bfc","name":"Build mqtt message","func":"// Extract info from the payload\n// and map them to mqtt parameters\n\nvar API_KEY = \"0BQQWH2RLYHH2RAM\";\nvar CHANNEL_ID = \"1358293\"; \n\nmsg.topic = 'channels/' + CHANNEL_ID + '/publish/' + API_KEY;\n\nmsg.payload= msg.payload.fieldTarget + '=' + msg.payload.value + '&status=MQTTPUBLISH';\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":260,"wires":[["ec6ae1bd.f0c108","b177f8d9.19226"]]},{"id":"51c191cb.141348","type":"inject","z":"6813f31f.f29bfc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["c9bc285a.c2226"]]},{"id":"c9bc285a.c2226","type":"file in","z":"6813f31f.f29bfc","name":"Load lines from file","filename":"/home/user/traffic.csv","format":"lines","chunk":false,"sendError":false,"x":190,"y":200,"wires":[["b7807847.e136b"]]},{"id":"d54a370b.434ca8","type":"function","z":"6813f31f.f29bfc","name":"Parse PLC message","func":"// From line with Publish Message....\n\n// Extract the HEX payload\nconst buffRegex =  / [a-fA-F0-9]*$/gm\nlet match = buffRegex.exec(msg.payload)\nlet buff = Buffer.from(String(match).trim(), 'hex');\n\nlet msg_payload = buff.toString()\nif (msg_payload)\n{\n    // Parse the json\n    let obj = JSON.parse(msg_payload) // Convert the buffer\n    \n    // Add a topic property\n    obj.fieldTarget = \"field1\"\n    \n    msg.payload = obj\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["9e973b1b.7788e","8ccc6614.c14"]]},{"id":"93a9b98d.70f108","type":"function","z":"6813f31f.f29bfc","name":"Parse Hyd_Valve Message","func":"// From line with Publish Message....\n\n// Extract the HEX payload\nconst buffRegex =  / [a-fA-F0-9]*$/gm\nlet match = buffRegex.exec(msg.payload)\nlet buff = Buffer.from(String(match).trim(), 'hex');\n\nlet msg_payload = buff.toString()\nif (msg_payload)\n{\n    // Parse the json\n    let obj = JSON.parse(msg_payload) // Convert the buffer\n    \n    // Add a topic property\n    obj.fieldTarget = \"field2\"\n    \n    msg.payload = obj\n    return msg;\n}","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["9e973b1b.7788e","8ccc6614.c14"]]},{"id":"ec6ae1bd.f0c108","type":"debug","z":"6813f31f.f29bfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":200,"wires":[]},{"id":"ae24aa7d.845048","type":"mqtt-broker","z":"","name":"ThingSpeak","broker":"mqtt.thingspeak.com","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]