Project/flow.json
[
    {
        "id": "b5d1af96.0416f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7129c34d.0086cc",
        "type": "tcp in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 230,
        "y": 540,
        "wires": [
            [
                "60517a5.25d2604"
            ]
        ]
    },
    {
        "id": "3fb06d58.b871a2",
        "type": "tcp in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60002",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 230,
        "y": 600,
        "wires": [
            [
                "60517a5.25d2604"
            ]
        ]
    },
    {
        "id": "87a79771.4a068",
        "type": "tcp in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60003",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 230,
        "y": 660,
        "wires": [
            [
                "60517a5.25d2604"
            ]
        ]
    },
    {
        "id": "f1c576d3.34e12",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "buildMessage",
        "func": "msg.user = msg.payload.substring(0,1);\nmsg.neighbours = msg.payload.substring(2,msg.payload.lengh)\nmsg.payload = \"message by user \" + msg.user + \", who is near users (\" + msg.neighbours + \")\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 692,
        "wires": [
            [
                "f5d6c5eb.47624",
                "c2fa9c4.d3c7ee"
            ]
        ]
    },
    {
        "id": "f5d6c5eb.47624",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 950,
        "y": 592,
        "wires": []
    },
    {
        "id": "c88e2d17.9212d",
        "type": "http request",
        "z": "b5d1af96.0416f8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/distance_keeper/with/key/d-ZTsd02kJhQhEJ7LG9vHRmx4KmwMmzGr10CvBGHyMu",
        "tls": "",
        "x": 1130,
        "y": 692,
        "wires": [
            []
        ]
    },
    {
        "id": "c2fa9c4.d3c7ee",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "buildNotification",
        "func": "msg.event = \"distance_keeper\";\nvalue1 = msg.user.toString();\nvalue2 = msg.neighbours.toString();\n\nmsg.payload = {\"value1\" : value1, \"value2\": value2 };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 692,
        "wires": [
            [
                "c88e2d17.9212d"
            ]
        ]
    },
    {
        "id": "e845d88f.ecba78",
        "type": "tcp in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60004",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 230,
        "y": 720,
        "wires": [
            [
                "60517a5.25d2604"
            ]
        ]
    },
    {
        "id": "7ae6b9d3.be897",
        "type": "tcp in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60005",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 230,
        "y": 780,
        "wires": [
            [
                "60517a5.25d2604"
            ]
        ]
    },
    {
        "id": "305abe66.965afa",
        "type": "tcp in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60006",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 230,
        "y": 840,
        "wires": [
            [
                "60517a5.25d2604"
            ]
        ]
    },
    {
        "id": "60517a5.25d2604",
        "type": "switch",
        "z": "b5d1af96.0416f8",
        "name": "filterMalformed",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^([1-6],)*[1-6]$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 692,
        "wires": [
            [
                "f1c576d3.34e12"
            ]
        ]
    }
]
